<p>Release in <span id="countdown"></span></p>

<style>
	p {
		text-align: center;
		font-size: 1.5em;
		color: #f8c059;
	}

	span {
		color: #f7604b;
	}

	@media screen and (max-width: 400px) {
		span {
			display: block;
		}
	}
</style>

<script>
	const countdownSpan = document.querySelector("#countdown");
	updateCountdown();

	setInterval(() => updateCountdown(), 1000)

	function updateCountdown() {
		const now = new Date();
		const release = new Date(Date.UTC(2022, 2, 25, 16, 0, 0));
		const timeRemaining = release - now;

		const dayDiff = Math.floor(timeRemaining / 86400000);
		const hourDiff = Math.floor((timeRemaining % 86400000) / 3600000);
		const minuteDiff = Math.floor((timeRemaining % 3600000) / 60000);
		const secondDiff = Math.floor((timeRemaining % 60000) / 1000);

		if (timeRemaining < 0) {
			countdownSpan.parentElement.innerText = "Out now on Steam!\nðŸŽ‰ðŸ¥³ðŸ¾ðŸ™ŒðŸŽˆðŸŽ†ðŸ¥‚ðŸŽ‡";
			return;
		}

		countdownSpan.innerText = dayDiff > 0
			? `${dayDiff}d ${hourDiff}h ${minuteDiff}m ${secondDiff}s`
			: `${hourDiff}h ${minuteDiff}m ${secondDiff}s`;
	}
</script>
